/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
  /*  behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
            flavor = "tap-preferred";
        };

        ltq: ltq {
            compatible = "zmk,behavior-hold-tap";
            label = "LTQ";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
        };

        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTO_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <135>;
            quick-tap-ms = <0>;
        };
    }; */

    behaviors {
        pwrbtn: pwrbtn {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <2000>;
            bindings = <&soft_off>, <&trans>;
        };
    };

    combos {
        compatible = "zmk,combos";

        bkt {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <21 22>;
        };

        rbkt {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <22 23>;
        };

        /*  - = */
        minus {
            bindings = <&kp MINUS>;
            key-positions = <30 31>;
        };
        equal {
            bindings = <&kp EQUAL>;
            key-positions = <31 32>;
        };

        semi {
            bindings = <&kp SEMICOLON>;
            key-positions = <34 35>;
        };

        sqt {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <35 36>;
        };

        comma {
            bindings = <&kp COMMA>;
            key-positions = <34 47>;
        };
        dot {
            bindings = <&kp PERIOD>;
            key-positions = <34 48>;
        };
        fslh {
            bindings = <&kp SLASH>;
            key-positions = <47 48>;
        };

        blsh {
            bindings = <&kp BSLH>;
            key-positions = <21 23>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Qwery {

            bindings = <
&kp ESC       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &kp MINUS          &kp EQUAL           &kp BACKSPACE
&kp TAB       &kp Q         &kp W         &kp E         &kp R         &kp T         &kp Y         &kp U         &kp I         &kp O         &kp P         &kp LEFT_BRACKET   &kp RIGHT_BRACKET
&mo 1         &kp A         &kp S         &kp D         &kp F         &kp G         &kp H         &kp J         &kp K         &kp L         &kp SEMI      &kp SINGLE_QUOTE   &kp BACKSLASH       &kp ENTER
&kp LSHIFT    &kp Z         &kp X         &kp C         &kp V         &kp B         &kp N         &kp M         &kp COMMA     &kp PERIOD    &kp SLASH     &trans             &kp UP
&kp LCTRL     &kp CAPSLOCK  &kp LALT      &kp LEFT_GUI                &kp SPACE     &mo 1                                     &trans                      &kp LEFT           &kp DOWN            &kp RIGHT
            >;

            label = "Qwery";
        };

        layer_1 {
            bindings = <
&kp GRAVE     &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &kp F6        &kp F7        &kp F8        &kp F9         &kp F10      &kp F11    &kp F12        &kp DELETE
&kp TAB       &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans         &trans       &trans     &trans
&trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans         &trans       &trans     &trans         &trans
&kp LSHIFT    &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans         &trans       &trans     &kp PAGE_UP
&kp LCTRL     &kp CAPSLOCK  &kp LALT      &kp LEFT_GUI                &trans        &trans                      &tog 2                                    &kp HOME   &kp PAGE_DOWN  &kp END
            >;
        };
/*
&bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&bt BT_CLR_ALL
*/

        layer_2 {
            bindings = <
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &kp KP_MULTIPLY      &kp KP_DIVIDE  &trans          &kp KP_MINUS     &kp KP_PLUS   &kp BACKSPACE
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &kp KP_N7            &kp KP_N8      &kp KP_N9       &trans           &trans
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &kp KP_N4            &kp KP_N5      &kp KP_N6       &trans           &trans        &kp ENTER
&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &kp KP_N1            &kp KP_N2      &kp KP_N3       &tog 2           &trans
&trans    &trans    &trans    &trans              &trans    &trans              &kp KP_N0                                           &trans           &trans         &trans
            >;
        };
    };
};
